
<app-search></app-search>


<div class="dash">
  <mat-grid-list cols="3" rowHeight="2:2">
    <a *ngFor="let movie of movies"
      routerLink="/info/{{ movie.id }}">
        <mat-grid-tile >
          <mat-card class='movie-card' >
            <mat-card-header>
              <mat-card-title>{{movie.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{movie.img}} alt={{movie.title}}>
            <mat-card-subtitle>
              <ngb-rating 
                name="{{movie.averageRating}}" 
                [(ngModel)]="movie.averageRating"  
                [(rate)]=movie.averageRating 
                [readonly]="true" [max]="5"
                >
              </ngb-rating>
            </mat-card-subtitle>
          </mat-card>
        </mat-grid-tile>
    </a>
  </mat-grid-list>
</div>
