
<h2 fxLayoutAlign='center'>Movies List</h2>


<div *ngIf='movie'
fxLayoutAlign='center center' fxFlexFill
>
<mat-card fxFlex='18em'>
            <h2>Title: {{movie.title}}</h2>
              
                    <img mat-card-image src={{movie.img}} alt={{movie.title}}>
          
                    <p>Description: {{movie.description}}</p>
                    <p>Comments: {{movie.comments}}</p>
                <div *ngIf="isVisible">
                    <mat-form-field >
                        <input matInput [(ngModel)]='movie.title' placeholder='Title'/>
                    </mat-form-field>  
                    <mat-form-field >
                        <input matInput [(ngModel)]='movie.description' placeholder='Description'/>
                    </mat-form-field> 
            
                    <mat-form-field >
                        <textarea matInput [(ngModel)]='movie.comments' placeholder='Comment'></textarea>
                    </mat-form-field>
                    <mat-card-actions fxLayoutGap="2em" fxLayoutAlign='center' >
                        <button mat-raised-button mat-button (click)='handleToggle()'>Cancel</button>
                        <button mat-raised-button mat-button (click)='updateMovie()'>Save</button>
                    </mat-card-actions>
                </div>
                <!--upon updating will trigger conditional rendering between edit section and read only-->
                <div fxLayoutGap="2em" fxLayoutAlign='center' *ngIf="!isVisible">
                    <button mat-raised-button mat-button (click)='goBack()'>Back</button>
                    <button mat-raised-button mat-button (click)='handleToggle()'>Update</button>
                </div>
            </mat-card>    
    </div> 

d