<div fxLayoutAlign='center center' fxFlexFill>
    <mat-card fxFlex='25'>
        <form fxLayoutAlign='strech' fxLayout='column'>
            <mat-form-field class="example-full-width">
              <mat-label>Useraname</mat-label>
              <input matInput placeholder="Username" >
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type='password' placeholder="Password" >
              </mat-form-field>
              <button mat-raised-button	 mat-button type='submit'>Login</button>
          </form>
    </mat-card>
</div>