<!--[(ngModel)] allows two way data binding from input to property.x-->
<!-- *ngFor is Angular's repeater directive. It repeats the host element for each element in a list./ similar to map HOF-->
<!-- *ngIf /if not null display details else ignore from DOM-->
<!--[] one way data binding -->
<!-- <app-movie-info [movie] = 'selectedMovie'></app-movie-info> -->



  <h2 fxLayoutAlign='center'>Movies</h2>

    <div fxLayoutAlign='center' >
      <mat-card fxFlex='18em'>
            <mat-form-field >
                <input matInput #imgURL placeholder='Image URL'/>
            </mat-form-field>  
            <mat-form-field >
                <input matInput #movieTitle placeholder='Title'/>
            </mat-form-field>  
            <mat-form-field >
                <input matInput #movieDescription placeholder='Description'/>
            </mat-form-field> 
    
            <mat-form-field >
                <textarea matInput #movieComment placeholder='Comment'></textarea>
            </mat-form-field>
  
    
                <button 
                  mat-raised-button mat-button 
                  (click)='addMovie(imgURL.value); imgURL.value=""'
                  >
                  Add
                </button>
        </mat-card> 
    </div>   
  
  
  <ul>
      <li *ngFor='let movie of movies'
      fxLayoutAlign='center center' 
      >
          
              <mat-card class='movie-card' >
                  <mat-card-header>
                    <mat-card-title>{{movie.title}}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src={{movie.img}} alt={{movie.title}}>
                  <mat-card-content>
                    <p>
                     Description: {{movie.description}}
                    </p>
                    <p>
                      Comments: {{movie.comments}}
                     </p>
                  </mat-card-content>
                  <mat-card-subtitle>{{movie.id}}</mat-card-subtitle>
                  <mat-card-actions fxLayoutGap="2em" fxLayoutAlign='center' >
                    <button mat-raised-button mat-button (click)='deleteMovie(movie)'>Delete</button>
                    <a routerLink='/info/{{ movie.id }}'><button mat-raised-button mat-button>Info</button> </a>
                  </mat-card-actions>
                </mat-card>
         
      </li>
  </ul>


