<!--[(ngModel)] allows two way data binding from input to property.x-->
<!-- *ngFor is Angular's repeater directive. It repeats the host element for each element in a list./ similar to map HOF-->
<!-- *ngIf /if not null display details else ignore from DOM-->


<h2>Movies</h2>

<ul>
    <li *ngFor='let movie of movies' (click)='handleClick(movie)'>
        <span>{{movie.id}}</span>
        {{movie.title}}
    </li>
</ul>
<!--[] one way data binding -->
<app-movie-info [movie] = 'selectedMovie'></app-movie-info>